li {
    background-color: grey;
    color:yellow;
    font-family:Courier New;

}


    
h1 {
    color: red;
    font-family: Arial;
    font-size: 250%;
    
}
p  {
    color:indianred;
    font-family: Times New Roman;
    font-size: 160%;
}
   
